@import url('https://fonts.googleapis.com/css?family=Numans');
@import url('https://fonts.googleapis.com/css?family=Raleway:700|Roboto+Slab:300');
*{

    font-family: 'Roboto Slab', serif;
    font-display: auto;

    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  
    width: 100vw;
    height: 100vh;
}

header{
    display: block;
    position: fixed !important;
    z-index: 1;
    top:0px;

}

#logo{
    background-color: white;
    border-radius: 5%;
    width: 5vw;
    min-width: 50px;
    max-width: 200px;
    height: auto;
}

#logo:hover{
    filter: invert(100%);
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    background-color: white;
    border-radius: 5%;
    width: 5vw;
    min-width: 50px;
    max-width: 200px;
    height: auto;

}

.navbar-dark{
    background-color: rgba(14, 88, 14, 0.616);
    color: rgb(43, 95, 43) !important;

}

#navbarSupportedContent{
    justify-content: flex-end !important;
    margin-right: 20px;
}
#navbarSupportedContent ul{
    margin: 0 !important;
}
.dropdown-menu{
    color: rgb(43, 95, 43);
    background-color: rgba(14, 88, 14, 0.644) !important;
}
.dropdown-item:hover{
    background-color: rgba(20, 197, 20, 0.897) !important;
}
#imageContainer{
    top:0;
    width: 100vw;
    height: 100vh;
    position: fixed !important;
}

main{
    background-color: rgb(144, 204, 144);
    margin-top:20px;
    border-radius: 15px;
    top:15vh;
    padding-bottom: 150px;
}
#containerText{
    padding:0 20px;
}
h1{
    padding: 5px;
    margin: 5px;

}

.singleRestoContainer{
    padding: 0 50px 0 10px;
    /* margin-right: 10px; */
    margin:auto;
}
.resto{
    color:black;
    margin:20px;
}

#photoContainer{
    border-radius: 5px 25px;
    background-color: #c2c2c2;
    padding: 20px;

}

#photoContainer picture{
    width: 100%;
    height: auto;
    background-color: #c2c2c2;
    padding-right: 40px;
    
}
#photoContainer picture img{
    width: 100%;
    height: auto;
    background-color: #c2c2c2;
    display:flex;
    justify-content:center;
    align-items:center;
    margin: 20px 10px;
}

#photoContainer picture img:hover{
    width: 110%;
    height: auto;
    background-color: #c2c2c2;
    position: relative;
    top:-5%;
    left:-5%;
    z-index: 2;
}

.menuContainer{
    background-blend-mode: overlay;
    background-image: url(../Pictures/wildtextures_regular-seamless-granite-texture.webp);
    /* This texture is discusting and should not be used in any real-life work*/
}

.menuListing li:nth-of-type(odd){
    background-color: rgba(0, 0, 0, 0.185);
}
.prices{
    margin: auto;
    float: right;
    text-align: end;
}

#title{
    border-radius: 5px;
    background-color: #8bdf8b42;
    color: #053905;
    font-family: 'Numans', sans-serif;
    font-display: auto;

    font-size: 3.5rem;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#title:hover{
    border-radius: 5px;
    background-color: #8bdf8b42;
    /* padding: 5px; */
    filter: invert(100%);
}
#S{
    white-space: nowrap;
    display: inline;
    color:#305698;
}
#M{
    white-space: nowrap;
    display: inline;
    color:#2DB72D;
}

.shadowBox{
    position: fixed;
    top:0px;left:0px;bottom: 0px;right: 0px;
    background-color: #00000093;
    z-index: 100;
}

.popUp{
    border:solid #5f5f5f 2px ;
    border-radius: 5px;
    position: relative;
    margin:auto;
    top:40%;
    background-color: #f0f0f0;
    width: 300px;
    padding: 10px;
}

.confirm{
    color:white;
    margin:5px;
    padding:5px;
    background-color: green;
    border-radius: 10px;
}

h2{
    font-size: 1.5rem;
    font-family: 'Raleway', sans-serif;
    font-display: auto;

}

h3{
    font-size: 1.2rem;
    font-family: 'Raleway', sans-serif;
    font-display: auto;


}
aside picture img{
    width: 100%;
    border-radius: 10px;
}
footer{
    border-radius: 5px;
    background-color: rgba(4, 17, 2, 0.918);
    font-size: 0.9rem;
    position: fixed !important;
    bottom: 0px;
    color:#64df64;
    
}
.bottom{
    align-content: center;
    justify-content: center;
    place-content: center;
}
.bottom ul, .bottom p ,.bottom li{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    place-content: center;
    margin-bottom: 10px;
}

.socialLinks{
    font-style: normal;
    color:#10c510;
    white-space: nowrap !important;
    display: inline !important;
}
.socialLinks:hover{
    font-style: normal;
    color:#1ffa1f;
    white-space: nowrap !important;
    display: inline !important;
}

.socialIcons{
    width:20px;
    height: auto;
    white-space: nowrap !important;

}
#social{
    margin-top:10px;
    display: flex;
    flex-direction: column;
    
}

li{
    list-style-type: none;
}

.bottom li{
    list-style-type: none;
    margin:0 0 0 18px;
}

@media only screen and (min-width: 1200px){
    #imageContainer{
        background:repeat rgb(6, 58, 6);
        background-image: url(../Pictures/BGBigDesktop.webp);
        background-position: center; 
        background-size:80vw;
        background-attachment: fixed;

    }

    main{
        background-image: url(../Pictures/treeTextureSmall.webp);
        background-position: center; 
        background-size: 50%;
        background-attachment: fixed;
        
    }
}

@media only screen and (max-width: 1200px){
    #imageContainer {
        background-image: url(../Pictures/BGDesktop.webp);
        background-position: center; 
        background-attachment: fixed;
        
    }

    main{
        background-image: url(../Pictures/BGMainBig.webp);
    }
}

@media only screen and (max-width: 992px) {
    #imageContainer {
        background-image: url(../Pictures/BGDesktop.webp);
        background-position: center; 
        background-attachment: fixed;
    }
    main{
        background-image: url(../Pictures/BGMainBig.webp);
        background-position: center; 
        background-attachment: fixed;
    }
    .bottom ul, .bottom p ,.bottom li{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        place-content: center;
        margin-bottom: 0px;
    }
}

@media only screen and (max-width: 801px) {
    
    main{
        background-image: url(../Pictures/BGMainBig.webp);
        background-position: center; 
        background-attachment: fixed;
    }

    #imageContainer {
        background-image: url(../Pictures/BGMobile.webp);
        background-position: center; 
        background-attachment: fixed;
        background-size: 130vh;
    }
}
@media only screen and (max-width: 576px) {
    main{
        background-image: url(../Pictures/BGMainBig.webp);
        background-position: center; 
        background-attachment: fixed;
    }
    h1{padding: 0px;}
    #title{
        color: #053905;
        font-family: 'Numans', sans-serif;
        font-display: auto;

        font-size: 2.5rem;
        text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    }
    .bottom ul, .bottom p ,.bottom li{
        margin: 0 auto 0 auto !important;

    }
    .bottom ul{
        margin: 0 0 0 18px !important;
    
    }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
  }