@import url('https://fonts.googleapis.com/css?family=Numans');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
#logo{
    background-color: white;
    border-radius: 5%;
    width: 5vw;
    min-width: 50px;
    max-width: 200px;
    height: auto;
}

.navbar-dark{
    background-color: rgba(14, 88, 14, 0.616);
    color: rgb(43, 95, 43) !important;

}

#navbarSupportedContent{
    justify-content: flex-end !important;
    margin-right: 20px;
}
#navbarSupportedContent ul{
    margin: 0 !important;
}
.dropdown-menu{
    color: rgb(43, 95, 43);
    background-color: rgba(14, 88, 14, 0.644) !important;
}
.dropdown-item:hover{
    background-color: rgba(20, 197, 20, 0.897) !important;
}
#imageContainer{
    width: 100vw;
    height: 100vh;
}

main{
    background-color: rgb(144, 204, 144);
    margin-top:20px;
    border-radius: 15px;
    
}

footer{
border-radius: 5px;
    background-color: rgba(4, 17, 2, 0.918);
    font-size: 0.9rem;
    position: fixed !important;
    bottom: 0px;
    color:#439543;
    
}
.bottom{
    /* background-color: black; */

    align-content: center;
    justify-content: center;
    place-content: center;
}
.bottom ul, .bottom p ,.bottom li{
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    place-content: center;
    /* margin: 0 auto 0 auto !important; */

}

.bottom ul{
    /* margin: 0 0 0 18px !important; */

}
.socialLinks{
    font-style: normal;
    color:#245a24;
    white-space: nowrap !important;
    display: inline !important;
}
.socialLinks:hover{
    font-style: normal;
    color:#338333;
    white-space: nowrap !important;
    display: inline !important;
}

.socialIcons{
    width:20px;
    height: auto;
    white-space: nowrap !important;

}
#social{

    display: flex;
    flex-direction: column;
    
}
.bottom li{
    list-style-type: none;
    margin:0 0 0 18px;
}

@media only screen and (min-width: 1200px){
    #imageContainer{
        background:repeat rgb(6, 58, 6);
        background-image: url(../Pictures/BGBigDesktop.jpeg);
        background-position: center; 
        background-size: ;
        background-attachment: fixed;

    }
}

@media only screen and (max-width: 1200px){
    #imageContainer {
        background-image: url(../Pictures/BGDesktop.jpeg);
        background-position: center; 
        background-attachment: fixed;
        
    }
}

@media only screen and (max-width: 992px) {
    #imageContainer {
        background-image: url(../Pictures/BGDesktop.jpeg);
        background-position: center; 
        background-attachment: fixed;
    }
}

@media only screen and (max-width: 801px) {

    #imageContainer {
        background-image: url(../Pictures/BGMobile.jpeg);
        background-position: center; 
        background-attachment: fixed;
        background-size: 130vh;
    }
}
@media only screen and (max-width: 576px) {
    .bottom ul, .bottom p ,.bottom li{
        margin: 0 auto 0 auto !important;

    }
    .bottom ul{
        margin: 0 0 0 18px !important;
    
    }