*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100vw;
    height: 100vh;
}
#logo{
    background-color: white;
    border-radius: 5%;
    width: 5vw;
    min-width: 50px;
    max-width: 200px;
    height: auto;
}

.navbar-dark{
    background-color: rgba(14, 88, 14, 0.616);
    color: rgb(43, 95, 43) !important;

}

.dropdown-menu{
    color: rgb(43, 95, 43);
    background-color: rgba(14, 88, 14, 0.644) !important;
}
.dropdown-item:hover{
    background-color: rgba(20, 197, 20, 0.897) !important;
}
#imageContainer{
    width: 100vw;
    height: 100vh;
}

@media only screen and (min-width: 1200px){
    #imageContainer{
        background:repeat rgb(6, 58, 6);
        background-image: url(../Pictures/BGBigDesktop.jpeg);
        background-position: center; 
        background-size: 75vw;
        background-attachment: fixed;

    }
}

@media only screen and (max-width: 1200px){
    #imageContainer {
        background-image: url(../Pictures/BGDesktop.jpeg);
        background-position: center; 
        background-attachment: local;

    }
}

@media only screen and (max-width: 992px) {
    #imageContainer {
        background-image: url(../Pictures/BGDesktop.jpeg);
        background-position: center; 
        background-attachment: local;
    }
}

@media only screen and (max-width: 798px) {
    #imageContainer {
        background-image: url(../Pictures/BGBigDesktop.jpeg);
        background-position: center; 
        background-attachment: local;
    }
}

main{
    background-color: rgb(6, 58, 6);
    /* width:75vw !important;  */
    /* height: 120vh;  */
}

footer{
    background-color: black;
    font-size: 0.9rem;
    position: fixed !important;
    bottom: 0px;
    color:#439543;
    
}
.bottom{
    background-color: black;

    align-content: center;
    justify-content: center;
    place-content: center;
}
.bottom ul, .bottom p ,.bottom li{
    align-content: center;
    justify-content: center;
    place-content: center;
    margin: 10px auto;
}

.bottom li{
    list-style-type: none;
    margin:0 0 0 18px;
}